.container-packing-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.list {
  margin: 0;
  margin-top: 10px;
  min-height: 15vh;
  max-height: 100vh;
  align-items: center;
  text-align: justify;
  width: 250px;
}

.Item{
  list-style: lower-greek;
  font-size: calc(5px + 1.5vmin);
  /* color: #fff */
}
