@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  background-color: #697283;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
  align-items: center;
  color: white;
  justify-content: center;

}

.App-header {
  max-height: 100vh;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.container {
  margin-top: 50px;
  max-height: 100vh;
}

.container .title {
  font-style: italic;
  color: #000
}

.container-list {
  margin-top: 50px;
  min-height: 100vh;
}

